.card {
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    max-width: 29.2rem;
    width: 100%; 
    max-height: 25rem;
    height: 100%;
    
}
/* bordure blanche */
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid var(--whiteColor);
    border-radius: inherit;
    opacity: 0;
    transition: 0.4ms ease-in-out;
}
/* au hover bordure blanche apparait */
.card:hover::after {
    opacity: 1;
    inset: 20px;
}
/* le fond gris au hover */
.card:hover img {
    filter: grayscale(1) brightness(0.4);
}
.card .content {
    position: absolute;
    bottom: 50%; 
    text-align: center;
    width: 100%;
}
.card .content h2 {
    opacity: 0;
    scale: 1;
    opacity: 1;
    color: transparent;
    transition: opacity 0.3s ease;
}
.card:hover .content h2 {
    opacity: 1;
    color:var(--whiteColor);
    
}
.card .image-box  {
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    border-radius:var(--borderRadiusMedium);
}
.image-projet{
    width: 100%;
    height: 100%;
}
@media  (max-width: 1024px) {
    .card {
        max-width: 40rem;
        width: 100%;
        height: auto;

    } 
}
