.section__accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 8rem;
 
    &--title{
        color: white;
    }
    &--image{
        border-radius: 50%;
        width: 300px;
        filter: grayscale(50%);
        
    }
    &--image:hover{
        filter: grayscale(20%);
    }
       
}