.section__accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 8rem;
}
   .section__accueil--title{
        color: white;
    }
    .section__accueil--image{
        border-radius: 50%;
        width: 300px;
        filter: grayscale(50%);
        
    }
    .section__accueil--image:hover{
        filter: grayscale(20%);
    }
       
