.workPage{
    display: flex;
    flex-direction: column;
     /* align-items: center; */
    justify-content: center;
    gap: 40px;
    padding: 100px;
    color: white;
    position: relative;
}

.workImage{
    max-width: 900px;
    max-height: 450px;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    object-position: top;

}
.buttonRetoure{
    cursor: pointer;
    color: white;
    border-radius: 1.5rem;
    padding: 12px 20px;
    background: linear-gradient(-45deg, rgba(43, 85, 122, 0.967) 0%, rgb(2, 126, 154) 25%, rgb(21, 71, 140) 51%, rgb(108, 108, 223) 100%);
    border: 1px solid transparent;
    font-size: large;
    font-weight: 600;
}
.buttonRetoure:hover{
    box-shadow: rgba(120, 120, 121, 0.789) 0px 6px 11px, rgba(17, 17, 26, 0.1) 0px 6px 35px, rgba(17, 17, 26, 0.1) 0px 14px 50px;

}

